@font-face
  font-style: normal
  font-family: "JetBrains Mono Light"
  src: local("JetBrains Mono Light"), url("../lib/JetBrainsMono-2.242/fonts/ttf/JetBrainsMono-Light.ttf") format("truetype")
@font-face
  font-style: normal
  font-family: "JetBrainsMonoNL-Light"
  src: local("JetBrains Mono Light"), url("../lib/JetBrainsMono-2.242/fonts/ttf/JetBrainsMonoNL-Light.ttf") format("truetype")
@font-face
  font-style: normal
  font-family: "字心坊轩雅体"
  src: local("字心坊轩雅体"), url("../lib/ZiXinFangXuanYaTiChangGui/ZiXinFangXuanYaTiChangGui-2.ttf") format("truetype")

  
