#categories
  .category-list-title
    color: $color-meta
  .category-list
    .category-list-item
      display:block-inline
      a
        color: rgba(85, 85, 85, 0.6)
      a:hover
        text-decoration: underline
      .category-list-count
        color: rgba(85, 85, 85, 0.6)
      .category-list-count:before
        content: " ("
      .category-list-count:after
        content: ")"


