#footer
  position: absolute
  bottom: 0
  margin-bottom: 10px
  width: 100%
  color: $color-meta
  vertical-align: top
  text-align: center
  font-size: 14px
  background: linear-gradient(#0595fc,#3191d6)
  -webkit-background-clip: text
  color: transparent

  .footer-left
    height: 20px
    vertical-align: middle
    line-height: 20px
    margin-top: 2px

  .footer-right
    a
      background: linear-gradient(#d60fd3,#f705f3)
      -webkit-background-clip: text
      color: transparent
      font-size: 14px
  
  .footer-right:hover
    a
      background: linear-gradient(#e35522,#dece1b)
      -webkit-background-clip: text
      color: transparent
      font-size: 14px
      
  .footer-ipv6
    a:hover
      position: relative
      vertical-align: top
      background: linear-gradient(#e35522,#dece1b)
      -webkit-background-clip: text
      color: transparent
      

@media (min-width: 39rem)
  #footer
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: center
    align-content: center
    margin-bottom: 20px

    .footer-left
      align-self: flex-start
      margin-right: 20px

    .footer-right
      align-self: flex-end
