#footer
  position: absolute
  bottom: 0
  margin-bottom: 5px
  width: 100%
  text-align: center
  font-size: 16px
  color: #3191d6

  .footer-left
    height: 20px
    vertical-align: middle
    line-height: 20px
    margin-top: 2px

  .footer-right

    a:hover
      text-decoration: underline
       
  .footer-ipv6
    a:hover
      text-decoration: underline
      

@media (min-width: 39rem)
  #footer
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: center
    align-content: center
    margin-bottom: 20px

    .footer-left
      align-self: flex-start
      margin-right: 20px

    .footer-right
      align-self: flex-end
